@using Bookstore.Models
@model IEnumerable<Document>

@{
    ViewData["Title"] = "Archive";
}
<h2>@ViewData["Title"]</h2>

<table class="table">
	<tr>
		<th>Id</th>
		<th>Date</th>
		<th>Title</th>
		<th>Sender</th>
		<th>Receiver</th>
	</tr>
	@foreach (var doc in Model) {
		var css = doc.IsRead ? "read" : "unread";
		IDictionary<string, string> parms = new Dictionary<string, string> {
			{ "id", doc.Uuid }
		};
		<tr class="@css">
			<td><a asp-action="Show" asp-all-route-data="@parms">@doc.Uuid</a></td>
			<td>@doc.Timestamp.ToString("dd/MM/yyyy")</td>
			<td>@doc.Title</td>
			<td>@doc.Sender</td>
			<td>@doc.Receiver</td>
		</tr>
	}
</table>
